table{
    border-collapse: collapse;
    font-family: "Times New Roman";
}

td{
    border: 1px solid black;
    padding: 5px;
}

th{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}